/* color variables */
:root {
  --color-one: #fdec2d;
  --color-two: #18e0da;
  --buttons: #19e07e;
  --main-bg: #262729;
}

/* used to test containers */
.test {
  border: 2px red solid;
}

/* main background and container spacing */
html,
body {
  font-family: "Cabin", sans-serif;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

/* adds spacing between last card and footer */
.container {
  margin-bottom: 15vh !important;
}

/* navbar styling - webkit allows gradient*/
.navbar-brand {
  position: relative;
  left: 45px;
  font-size: 50px;
  font-family: "Quantico", sans-serif;
  background-clip: padding-box;
  background: -webkit-linear-gradient(var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-dark {
  background-color: var(--main-bg) !important;
}

/* for "My Profile" link */
.nav-link {
  font-size: 18px;
}

/* post form */
.form-group {
  width: 50%;
}

/* BUTTONS */
.btn-success {
  background-color: var(--buttons) !important;
  border-color: var(--buttons) !important;
}

/* slightly darker styling on hover */
.btn-success:hover {
  background-color: #1ac671 !important;
  border-color: #1ac671 !important;
}

/* positioning for edit and delete button */
.edit-controls {
  position: absolute;
  top: 5px;
  right: 10px;
}

.edit-btn,
.delete-btn {
  margin: 0px !important;
  padding: 5px !important;
}

/* interested button is replaced by submit button when editing project */
.interested-btn,
.submit-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* project cards */
.project-card {
  min-height: 275px;
}

/*Project Details - title, link, description */
.project-details {
  position: absolute;
  padding: 10px;
  margin: 5px;
  left: 0px;
  top: 85px;
  min-height: 150px;
}

h2 a,
h2 a:hover {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-bg);
}

/* link is stored in title */
.project-link {
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
}

/* Github info - avatar and username */
.github-info {
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.avatar {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
}

.username {
  color: var(--main-bg) !important;
}

.username:hover {
  color: var(--buttons) !important;
  text-decoration: none;
}

/* changing font for @ symbol */
.symbol {
  font-family: "Open Sans", sans-serif;
}

/* interested footer includes interested button and timestamp */
.interested-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  margin: 5px;
}

.timestamp {
  position: absolute;
  bottom: 5px;
  font-style: italic;
  font-size: 0.7em;
}

/* main footer */
.card-footer {
  text-align: center;
  background-color: var(--main-bg);
}
