<div class="column is-4" data-id="{{this.id}}">
    <div class="card project-card">
        <div class="card-content">
            <button class="delete-btn float-right"><i class="fas fa-trash-alt"></i></button>
            <div class="github-info float-right">
                <img src="https://via.placeholder.com/75" alt="avatar" class="avatar">
                <br>
                {{!-- <a href="#" target="_blank"></a> --}}
            </div>
            <h2 class="title is-3 float-none">{{projectTitle}}</h2>

            <div class="project-details float-none">
                <p class="description">{{projectDetails}}</p>
                <a href="#" target="_blank" class="link">{{projectLink}}</a>
                {{!-- <p class="technologies">Technologies</p> --}}
                <br>
                <br>
                <button class="btn btn-success float-right interested-btn">I'm Interested!</button>
                <i class="timestamp"></i>
            </div>

        </div>
    </div>
</div>